{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brew n Bloom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">

    <nav class="navbar">
        <div class="logo">Brew and Bloom</div>
        <ul class="nav-links" id="navLinks">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
